

body {
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

.dots {
  font-size: 2rem;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.brand-name {
  font-family: 'Courgette', cursive;
  font-weight: bold;
  font-size: 3rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Colors */
.colored-section {
  background-color: #1f4068;
  color: #fff;
}

.white-section {
  background-color: #fff;
}
/* Title Section */

#title .container-fluid {
  padding: 4% 8% 8%;
  text-align: left;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  max-width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* Features section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.feature-img {
  color: #1f4068;
  margin-bottom: 1rem;
}

.feature-img:hover {
  color: #007bff;
}

/* Testimonial section */

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press section */
#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 7%;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.btn-block {
  display: block;
  width: 100%;
}

.pricing-col {
  padding: 3%;
}

/* Cta Section */


/* Footer Section */

.footer-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .big-heading {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
